* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #57BB6B;
}

body {
  margin: 8px 0 0;
}

header {
  background-image: url(../img/fruits.png);
  padding: 25px 30px;
}

header p{
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  color: #57BB6B;
  text-align: center;
}

.title-container {
  background: #ffffffe6;
  padding: 25px 30px; 
}

.sirop {
  background-color: #C4F2AD;
  height: 400px;
  text-align: center;
}

.sirop h2 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 74px;
}

.sirop p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  text-align: center;
  opacity: 50%;
  padding-bottom: 45px;
}

.sirop img {
  width: 100px;
  background-color: white;
  border-radius: 50%;
  padding: 30px 30px;
}

.kiwi {
  background-color: #57BB6B;
  height: 690px;
  color: white;
}

.kiwi h2 {
  font-family: 'Maven Pro', sans-serif;
  padding-left: 67px;
  padding-top: 63px;
  padding-bottom: 54px;
}

.kiwi p {
  font-family: 'Quattrocento', serif;
  margin-left: 68px;
  padding-bottom: 38px;
  padding-right: 68px;
}

.kiwi img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 38px;
  padding-left: 68px;
  padding-right: 68px;
}

.kiwi ul {
  margin-left: 77px;
  padding-bottom: 56px;
}

.kiwi h3 {
  margin-left: 68px;
  padding-bottom: 22px;
}

.autres {
  background: #C4F2AD;
  height: 401px;
}

.autres h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  text-align: center;
}

.autres a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-align: center;
}

.card-strawberry {
  background: #F7A4B4;
  border-radius: 10%;
  height: 151px;
  width: 151px;
}

.card-strawberry p {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
}

.card-strawberry img {
  max-width: 35%;
}

.card-coffee {
  background: #D3C6B2;
  border-radius: 10%;
  height: 151px;
  width: 151px;
}

.card-coffee p {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
}

.plus {
  font-family: 'Maven Pro', sans-serif;
  font-size: 38px;
  color: black;
  opacity: 50%;
}

.card-coffee img {
  max-width: 35%;
}

.button {
  font-family: 'Maven Pro', sans-serif;
  background-color: #57BB6B;
  color: white;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.button-white {
  background-color: white;
  color: #57BB6B;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: 'Maven Pro', sans-serif;
}

footer {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  padding: 22px 75px;
  height: 467px;
  background-color: white;
}

footer h2 {
  color: #57BB6B;
  font-size: 26px;
}

footer p{
  font-size: 12px;
  color: #57BB6B;
}

.fruit-container {
  display: flex;
  justify-content: space-between;
}

.fruit-container img {
  max-width: 10%;
  padding-bottom: 98px;
}

.button {
  margin: 10px 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 27px;
}

.intro p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  text-align: center;
  padding-bottom: 36px;
}

.produits {
  background-color: #57BB6B;
}

.produits h2{
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 26px;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 35px;
}

.jus-banane {
  border-radius: 15px;
  background-color: #FFF8D7;
  height: 240,75px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
  text-align: left;
}

.jus-banane h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-align: left;
}

.jus-banane p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  opacity: 50%;
}

.jus-banane a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}

.sirop-kiwi {
  border-radius: 15px;
  background-color: #C4F2AD;
  height: 240,75px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
}

.sirop-kiwi h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-align: left;
}

.sirop-kiwi p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  opacity: 50%;
}

.sirop-kiwi a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}

.produits-miniatures {
  width: 20%;
  display: flex;
  align-items: end;
  flex-direction: row;
}

.glace-cafe {
  border-radius: 15px;
  background-color: #D3C6B2;
  height: 240,75px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
}

.glace-cafe h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-align: left;
  padding-top: 39px;
}

.glace-cafe p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  opacity: 50%;
}

.glace-cafe a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}

.delice-fraise {
  border-radius: 15px;
  background-color: #F7A4B4;
  height: 240,75px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
}

.delice-fraise h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  text-align: left;
}

.delice-fraise p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  opacity: 50%;
}

.delice-fraise a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  justify-content: space-between;
}

.intro {
  height: 389px;
  background-color: white;
}